body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #222222;
  background-color: #e5e5e5;
}

.profile-container {
  max-width: 900px;
  margin: 0 auto;
}

.profile-header {
  position: relative;
  background-color: #d9d9d9;
}

.banner {
  height: 200px;
  background: linear-gradient(135deg, #ffffff, #d9d9d9);
}

.profile-info {
  position: absolute;
  bottom: -60px;
  left: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar img {
  width: 120px;
  height: 120px;
  border-radius: 20px;
  border: 4px solid #f5f5f5;
  object-fit: cover;
  background-color: #fff;
}

.user-data h1 {
  margin: 0;
  font-size: 28px;
}

.user-data p {
  margin: 4px 0 0;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: #888888;
}

.flag {
  width: 20px;
  margin-right: 6px;
}

.edit-btn {
  margin-left: auto;
  margin-right: 20px;
  background-color: #d72638;
  color: white;
  padding: 10px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 18px;
  transition: background 0.3s;
}

.edit-btn:hover {
  background-color: #b91f2b;
}

.profile-form-area {
  margin-top: 100px;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* sombra destacada */
  position: relative;
  z-index: 1;
  transition: box-shadow 0.3s ease;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 6px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background-color: #fafafa;
  color: #222;
}

.save-btn {
  background-color: #d72638;
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.save-btn:hover {
  background-color: #b91f2b;
}
