.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    padding-top: 1vw;
    margin-top: 60px; /* Espaço para a navbar fixa */
}

.card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    height: 350px !important;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px; /* Ajuste a altura conforme necessário */

    position: relative;
}

.observacoes textarea {
    width: 100%; /* Usa toda a largura do card */
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    min-height: 10px; /* Altura mínima */
    resize: vertical; /* Permite redimensionar verticalmente */
}

.card .edit-icon {
    font-size: 18px;
    color: #007bff;
    cursor: pointer;
    margin-left: 10px;
}

.card input, .card textarea {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    width: calc(100% - 30px); /* Ajusta a largura para deixar espaço para o ícone */
    box-sizing: border-box;
    margin-bottom: 10px;
}

.card textarea {
    height: 70px;
    resize: none;
}

.card .status {
    margin-top: 15px;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
    text-align: center; /* Adiciona alinhamento central */
}

.card .status.finished {
    background-color: #28a745;
}

.card .status.urgent {
    background-color: #ff7b07;
}
.card .status.ongoing {
    background-color: #FFC222;
}

.card .status.most-urgent {
    background-color: #dc3545;
}

.card .status.common {
    background-color: #007bff;
}

.card .status.no-status {
    background-color: #6c757d;
}

.card .status-select {
    margin-top: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    top: 75%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
}

.card .status-select select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    background-color: #6c757d;
}

.card .status-select select.finished {
    background-color: #28a745;
}

.card .status-select select.urgent {
    background-color: #ff7b07;
}

.card .status-select select.ongoing {
    background-color: #FFC222;
}

.card .status-select select.most-urgent {
    background-color: #dc3545;
}

.card .status-select select.common {
    background-color: #007bff;
}

.card .status-select select.no-status {
    background-color: #6c757d;
}

.button-salvar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-salvar {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button-salvar:hover {
    background-color: #218838;
}


@media (max-width: 768px) {
    .card-container {
        padding: 10px;
        padding-top: 60px; /* Ajusta o padding para dar espaço para a navbar */
    }

    .card {
        width: 100%;
        max-width: 350px; /* Largura máxima para telas menores */
    }
}

@media (max-width: 480px) {
    .card-container {
        padding: 10px;
    }

    .card {
        width: 100%;
        max-width: 300px;
    }
}
