* {
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    gap: 10px;
    height: 100%;
}