<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Status dos Chamados</title>
  <link rel="stylesheet" href="/static/css/testes/top.css">
  <link rel="stylesheet" href="/static/css/header-footer.css">
  <link rel="stylesheet" href="/static/css/selecionador.css">
  <link rel="icon" type="image/x-icon" href="/static/img/senai-favicon.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
  <!-- Cabeçalho -->
  <div class="comeco">
            <a href="{{ url_for('home') }}">
              <img src="/static/img/senai_logo.png" alt="Logo SENAI" class="logo">
            </a>
            <h1>Status dos Chamados</h1>
            <img src="/static/img/ps.png" alt="Ícone de Usuário" class="user-icon">
        </div>
  <svg onclick="history.back()" xmlns="http://www.w3.org/2000/svg"
         class="back-arrow" viewBox="0 0 24 24" fill="none"
         stroke="red" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6" />
    </svg>

  <!-- Conteúdo principal -->
  <main class="main-content">
    <div class="status-grid">
      <!-- Sem Status -->
      <a href="{{ url_for('pedidosNS') }}" class="status-card no-status">
        <span class="status-label">Sem Status</span>
      </a>

      <!-- Em Andamento -->
      <a href="{{ url_for('pedidosO') }}" class="status-card in-progress">
        <span class="status-label">Em Andamento</span>
      </a>

      <!-- Finalizados -->
      <a href="{{ url_for('pedidosF') }}" class="status-card completed">
        <span class="status-label">Finalizados</span>
      </a>

      <!-- Alta Urgência -->
      <a href="{{ url_for('pedidosMU') }}" class="status-card very-urgent">
        <span class="status-label">Alta Urgência</span>
      </a>

      <!-- Urgente -->
      <a href="{{ url_for('pedidosU') }}" class="status-card urgent">
        <span class="status-label">Urgente</span>
      </a>

      <!-- Baixa Urgência -->
      <a href="{{ url_for('pedidosC') }}" class="status-card common">
        <span class="status-label">Baixa Urgência</span>
      </a>
    </div>
  </main>

  <!-- Rodapé -->
  <footer class="footer">
    <p class="footer-text">&copy; 2025 SENAI. Todos os direitos reservados.</p>
  </footer>

  <script src="/static/js/pedidos.js"></script>
</body>
</html>