<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Serviços de Manutenção</title>
    <link rel="stylesheet" href="/static/css/form.css">
    <link rel="icon" type="image/x-icon" href="/static/img/senai-favicon.jpg">
</head>

<body>
    <header>
        <h1>SOLICITAÇÃO DE SERVIÇOS DE MANUTENÇÃO</h1>
    </header>
    <div class="form-container">
        <form action="{{ url_for('salvarChamado') }}" method="POST" enctype="multipart/form-data">
            <label for="nome">Nome completo do solicitante: <span>*</span></label>
            <input type="text" id="nome" name="nome_requisitante" required>

            <label for="nome">E-mail do solicitante: <span>*</span></label>
            <input type="email" id="email" name="email_requisitante" required>

            <label for="ambiente">Identifique o ambiente: <span>*</span></label>
            <input type="text" id="ambiente" name="ambiente" required>

            <label for="ocorrencia">Descreva a ocorrência: <span>*</span></label>
            <textarea id="ocorrencia" name="descricao_chamado" required></textarea>

            <label for="arquivo">Envie uma ilustração (foto, áudio, vídeo, etc)</label>
            <div id="image-container">
                <input type="file" id="photo_post" name="photo_post" accept="image/*,audio/*,video/*" onchange="previewImage(event)">
            </div>

            <button type="submit">ENVIAR</button>
        </form>
    </div>
    <script src="/static/js/form.js"></script>
</body>

</html>
