<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/dataTables.dataTables.css">
  <link rel="stylesheet" href="/static/css/grafico.css">
  <link rel="icon" type="image/x-icon" href="/static/img/senai-favicon.jpg">
  <title>Gráfico</title>
</head>

  {% include 'partials/header.html' %}

  <svg onclick="history.back()" xmlns="http://www.w3.org/2000/svg"
         class="back-arrow" viewBox="0 0 24 24" fill="none"
         stroke="red" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6" />
    </svg>

<body>

  <div class="chart">
    <canvas id="myChart"></canvas>
  </div>

  {% include '/partials/footer.html' %}

  <script src="/static/js/jquery-3.7.1.js"></script>
  <script src="/static/js/usu.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
async function carregarGrafico() {
  const response = await fetch("/api/grafico_finalizados");
  const data = await response.json();

  const nomes = data.map(item => item.nome);
  const totais = data.map(item => item.total);

  const ctx = document.getElementById('myChart').getContext('2d');
  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: nomes,
      datasets: [{
        label: 'Atendimentos Finalizados',
        data: totais,
        borderWidth: 1,
        borderColor: '#ff0000',
        backgroundColor: "rgba(255, 0, 0, 0.1)"
      }]
    },
    options: {
      responsive: true,
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
}

document.addEventListener("DOMContentLoaded", carregarGrafico);
</script>

</html>