<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitação de Serviços de Manutenção</title>
    <link rel="stylesheet" href="/static/css/form.css">
</head>

<body>
    <header>
        <h1>SOLICITAÇÃO DE SERVIÇOS DE MANUTENÇÃO</h1>
    </header>
    <div class="form-container">
            <h2>Sua solicitação foi registrada. Muito obrigado!</h2>
    </div>
    <script src="/static/js/form.js"></script>
</body>

</html>