<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chamados Cartões</title>
    <link rel="icon" type="image/x-icon" href="/static/img/senai-favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

        {% include 'partials/header.html' %}

  <svg onclick="history.back()" xmlns="http://www.w3.org/2000/svg"
         class="back-arrow" viewBox="0 0 24 24" fill="none"
         stroke="red" stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
        <polyline points="15 18 9 12 15 6" />
    </svg>

    <!--chamados-->
    {% include 'partials/pedido.html' %}

    {% include '/partials/footer.html' %}

    <script src="/static/js/pedido.js"></script>
    <script src="/static/js/usu.js"></script>
</body>
</html>