
<!-- index.html -->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabela</title>
    <link rel="stylesheet" href="/static/css/dataTables.dataTables.css">
  <link rel="stylesheet" href="/static/css/testes/top.css">
  <link rel="icon" type="image/x-icon" href="/static/img/senai-favicon.jpg">
</head>

  <div class="comeco">
        <a href="{{ url_for('home') }}">
          <img src="/static/img/senai_logo.png" alt="Logo SENAI" class="logo">
        </a>
        <h1>Tabela</h1>
        <img src="/static/img/ps.png" alt="Ícone de Usuário" class="user-icon">
  </div>

<body>
    <div class="container">
    <table id="example" class="display" style="width:100%">
      <thead>
        <tr>
          <th>descrição</th>
          <th>status</th>
        </tr>
      </thead>
      <tbody>
        {% for chamado in chamados %}
        <tr>
          <td>{{ chamado.descricao }}</td>
          <td>
            {% if chamado.status == 'ongoing' %}
              Em Andamento
            {% elif chamado.status == 'finished' %}
              Finalizado
            {% elif chamado.status == 'most-urgent' %}
              Muito Urgente
            {% elif chamado.status == 'urgent' %}
              Urgente
            {% elif chamado.status == 'common' %}
              Comum
            {% elif chamado.status == 'no-status' %}
              Sem Status
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

</body>
    <script src="/static/js/jquery-3.7.1.js"></script>
    <script src="/static/js/dataTables.js"></script>
    <script>
        $('#example').DataTable({
            "language": {
                "search": "Pesquisa:",
                "entries": "Chamados",
            }, paging: false
        });

        function filterGlobal(table) {
            table
                .search(
                    $('#global_filter').val(),
                    $('#global_regex').prop('checked'),
                    $('#global_smart').prop('checked')
                )
                .draw();
        }

        var table = $('#example').DataTable();

        $('input.global_filter').on('keyup click', function () {
            filterGlobal(table);
        });



    </script>

</html>