
.carousel {
  width: 80%;
  max-width: 45%;
  overflow: hidden;
  position: relative;
  background: #4b1029;
  border-radius: 20px;
  margin-top: 3%;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-size: 24px;
  padding: 50px 0;
}

.nav-button {
  position: absolute;
  top: 93%;
  transform: translateY(-50%);
  color: #686868;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 30px;
  border-radius: 50%;
}

.nav-button:hover {
    color:white
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.indicator {
  width: 50px;
  height: 12px;
  background: gray;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.active {
  background: white;
}

.slide-content {
  position: relative;
  display: inline-block;
}

.slide-content img {
  width: 100%;
  display: block;
  margin-left: 3%;
}

.slide-content p {
  position: absolute;
  top: 25%;
  left: 67%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 55px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}
